* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: Arial, sans-serif; 
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.img-right {
  float: right;
}

.img-left {
  float: left;
}

img {
  max-width: 100%;
  height: auto;
  margin: 5px;
}
/* Top */
header {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: orange;
}

header h1 {
  font-size: 50px;
}

nav {
  background-color: #003366;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
}

nav li {
  padding: 10px;
  flex: auto;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
}
nav a:hover {
  text-decoration: underline;
  color: whitesmoke;
}


/* Middle */
.container {
  background-color: #cacaca;
  padding: 10px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about {
  padding: 2rem;
  background-color: #cacaca;
  border: 2px solid #003366;
}

.degrees {
  padding: 2rem;
  background-color: #cacaca;
  border: 2px solid #003366;
}

.certifications {
  padding: 2rem;
  background-color: #cacaca;
  border: 2px solid #003366;
}

.hobbies {
  padding: 2rem;
  background-color: #cacaca;
  border: 2px solid #003366;
}




/* Bottom */
.footer {
  background-color: #003366; /* Deep Blue */
  color: #FFFFFF; /* White text */
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

#contact {
  background-color: #FFF9C4; /* Soft Yellow */
  padding: 20px;
}


/* RWD */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  img {
    max-width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  img {
    width: auto;
  }
}